<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


    <div class="col-sm-12 col-md-11 col-lg-10 mx-auto mycontain mt-5">

        <!-- HEADER-->

        <h1 class="web_title"> RSS </h1>
        <h3 class="section_title"> Toute l'actualité </h3>

        <hr class="header_line mt-5 mb-5">

        <!-- FIN HEADER -->

        <!-- CARD -->

        <div class="card-group">
            <div class="card">
                <a class="mod" routerLink="/edit">
                    <img src="../assets/ressources/edit1.png" alt="">
                </a>
                <img class="card-img-top" src="https://img.lemde.fr/2022/04/22/324/0/2048/1024/644/322/60/0/4010715_1650617938855-abacanewsroy-82542-06.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Enquête | Vladimir Poutine, le culte de la guerre</h5>
                    <p class="card-text">Jamais assumée dans les mots, la violence armée est l’instrument privilégié par le chef du Kremlin pour imposer son pouvoir et organiser la confrontation avec l’Occident.</p>
                    <p class="card-text">
                        <a href="https://www.lemonde.fr/international/article/2022/04/22/poutine-le-culte-de-la-guerre_6123287_3210.html">plus...</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <a routerLink="/edit" class="mod">
                    <img src="../assets/ressources/edit1.png" alt="">
                </a>
                <img class="card-img-top" src="https://img.lemde.fr/2022/04/23/464/0/5568/2784/644/322/60/0/e78a1d2_1650694104357-breton.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">L’Union européenne impose une régulation aux réseaux sociaux et aux plates-formes d’e-commerce</h5>
                    <p class="card-text">Avec le Digital Services Act, les pratiques de modération des contenus des grands services numériques seront surveillées par Bruxelles, qui pourra infliger de lourdes sanctions.</p>
                    <p class="card-text">
                        <a href="https://www.lemonde.fr/economie/article/2022/04/23/l-union-europeenne-impose-une-regulation-aux-reseaux-sociaux-et-aux-plates-formes-d-e-commerce_6123360_3234.html">plus...</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <a routerLink="/edit" class="mod">
                    <img src="../assets/ressources/edit1.png" alt="">
                </a>
                <img class="card-img-top" src="https://img.lemde.fr/2022/04/22/319/0/576/288/644/322/60/0/89b28bc_1650635089859-278272472-5304304129600597-2930284154765011718-n.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">La cité des Doges affiche son soutien à la culture ukrainienne</h5>
                    <p class="card-text">Les jeunes artistes de l’exposition « This is Ukraine : Defending Freedom » se sont fait les ambassadeurs de leur pays bombardé. </p>
                    <p class="card-text">
                        <a href="https://www.lemonde.fr/culture/article/2022/04/23/la-cite-des-doges-affiche-son-soutien-a-la-culture-ukrainienne_6123359_3246.html">plus...</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <a routerLink="/edit" class="mod">
                    <img src="../assets/ressources/edit1.png" alt="">
                </a>
                <img class="card-img-top" src="https://img.lemde.fr/2022/04/23/354/0/3500/1750/644/322/60/0/de53a31_1650702263105-569036.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Guerre en Ukraine en direct : dans la dernière poche de résistance à Marioupol, une nouvelle tentative d’évacuer les civils aura lieu samedi </h5>
                    <p class="card-text">Le gouvernement de Kiev affirme que « des femmes, des enfants et des personnes âgées » vont tenter de quitter le complexe métallurgique Azovstal, où sont retranchés les derniers soldats ukrainiens.</p>
                    <p class="card-text">
                        <a href="https://www.lemonde.fr/international/live/2022/04/23/guerre-en-ukraine-en-direct-aucune-treve-en-vue-a-l-oree-de-la-paque-orthodoxe-la-russie-entend-etablir-un-controle-total-sur-le-donbass-et-le-sud-de-l-ukraine-selon-un-haut-grade-russe_6123351_3210.html">plus...</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <a routerLink="/edit" class="mod">
                    <img src="../assets/ressources/edit1.png" alt="">
                </a>
                <img class="card-img-top" src="https://img.lemde.fr/2022/04/23/67/0/4544/2272/644/322/60/0/d028b01_671921171-000-323q9c8.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> L’Union européenne adopte son règlement sur les services numériques</h5>
                    <p class="card-text">Les Etats membres, la Commission et le Parlement se sont mis d’accord sur une nouvelle législation permettant de mieux lutter contre les dérives du Web, comme les discours de haine, la désinformation ou la contrefaçon.</p>
                    <p class="card-text">
                        <a href="https://www.lemonde.fr/international/article/2022/04/23/la-guerre-en-ukraine-priorite-de-l-elysee_6123344_3210.html">plus...</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <a routerLink="/edit" class="mod">
                    <img src="../assets/ressources/edit1.png" alt="">
                </a>
                <img class="card-img-top" src="https://img.lemde.fr/2022/04/22/543/0/4847/2423/644/322/60/0/ed7d5bf_5026354-01-07.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Etats-Unis : un tireur blesse quatre personnes à Washington et se suicide</h5>
                    <p class="card-text">Trois adultes et une adolescente ont été blessées vendredi dans un quartier paisible de la capitale américaine par un tireur. L’homme s’est suicidé alors qu’il était sur le point d’être arrêté vendredi, a annoncé la police.</p>
                    <p class="card-text">
                        <a href="https://www.lemonde.fr/international/article/2022/04/23/etats-unis-quatre-blesses-dans-une-fusillade-a-washington-une-personne-recherchee_6123341_3210.html">plus...</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- FIN CARD -->

        <!-- PAGINATION -->

        <nav class="pagination mt-4 mb-5">
            <ul class="pagination mx-auto">
                <li class="page-item mr-2">
                    <a href="" class="page-link"> précédent </a>
                </li>
                <li class="page-item mr-2 active">
                    <a href="" class="page-link"> 01 </a>
                </li>
                <li class="page-item mr-2">
                    <a href="" class="page-link"> 02 </a>
                </li>
                <li class="page-item mr-2">
                    <a href="" class="page-link"> 03 </a>
                </li>
                <li class="page-item mr-2">
                    <a href="" class="page-link"> suivant </a>
                </li>
            </ul>
        </nav>

        <!-- FIN PAGINATION -->

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>